@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--text-gray-light: #868686;
	--text-gray-dark: #535353;
	--black: #000000;
	--white: #ffffff;
	--primary: #6f57e9;
	--secondary: #9747ff;
	--form-shadow: 296px 536px 245px rgba(21, 31, 72, 0.01),
		167px 302px 207px rgba(21, 31, 72, 0.05),
		74px 134px 153px rgba(21, 31, 72, 0.09),
		19px 34px 84px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("../assets/calendar.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px 24px;
	pointer-events: visible;
	visibility: hidden;
}

@media (max-width: 360px) {
	.progress-bar {
		width: 40px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	font-family: "Figtree", sans-serif;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
